<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h3>Registration Successful!</h3> 
   <h3>Please login to the school’s account to explore the offerings of Campus Field</h3>   
   

   <h3><%= details %></h3>

   <small>Thanks</small>
  </body>
</html>
