<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Dear Candidate, </h3> </br>
    <h3>Congratulations!! </h3> </br>

       <pre>Your Job application is shortlisted. To get further details please login to your Campus Field account.
      </pre>
   <h4><%= details.instruction %></h4>
   <h4><%= details.date %></h4>
   <h4><%= details.location %></h4>
   <h4><%= details.phone %></h4>

    <h5>Thanks</h5>
  </body>
</html>
